* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.wrapper {
  overflow: hidden;
  position: relative;
}
.container {
  max-width: 1170px;
  padding: 0 30px;
  position: relative;
  height: 100%;
  margin: 0 auto;
}

li,
ol {
  list-style: none;
}
button:active,
button:focus {
  outline: none;
}
.search-form {
  display: flex;
  justify-content: center;
  margin: 25px;
}
.search-form input {
  width: 50%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #16def0;
  border-radius: 5px;
  outline: none;
  background: #fafffe;
  color: #545050;

  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  font-weight: 600;
}
body {
  background-color: #88faeb;
}
.load_more {
  display: flex;
  justify-content: center;
  opacity: 0;
}
button {
  outline: none;
  border: 0;
  background: transparent;
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
  font-weight: 600;
  background-color: rgb(153, 0, 255);
  border-radius: 5px;
  padding: 10px 20px;
}
button:active {
  transform: translateY(1px);
  filter: saturate(150%);
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.stats {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.stats-item {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8),
    0 0 40px rgba(0, 0, 0, 0.1) inset;

  color: #286c73;
}
img {
  border-radius: 10px;
  width: 300px;
  height: 200px;
}
.photo-card {
  margin: 25px;
}
